<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.reddit.post.repository.PostMapper">
    <select id="getPatinatedPostsWithoutInteractions" resultType="PostInfoWithoutInteractions">
        SELECT
            u.id, u.username, 
            p.id AS postId, 
            p.created_at AS postCreatedAt, 
            p.updated_at AS postUpdatedAt, 
            p.title, p.content, p.view_count, 
            p.vote_points, p.like_points, 
            p.confused_points, p.laugh_points, p.comment_amounts 
        FROM post p 
        LEFT JOIN user u ON p.user_id = u.id 
        WHERE p.created_at <![CDATA[ < ]]> #{timeFrame}
        <if test="dateClause != null">
            #{dateClause}
        </if>
        <if test="voteClause != null">
            #{voteClause}
        </if>
        <if test="laughClause != null">
            #{laughClause}
        </if>
        <if test="likeClause != null">
            #{likeClause}
        </if>
        ORDER BY p.created_at DESC LIMIT #{fetchAmountPlusOne} OFFSET #{offset}
    </select>

    <select id="getSample" resultType="SamplePost">
        select id, title, content from post where id = 1;
    </select>
</mapper>